<!DOCTYPE html>

<head>
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;

      span {
        margin: 50px;
        display: block
      }

      a {
        font-size: 50px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <span>Hi, {{name}}</span>
    <span>A password change has been requested for your account.</span>
    <a href={{link}}>Click here to change you password</a>
    <span>Thank You</span>
    <strong>If you didn't request it, just ignore this email</strong>
  </div>
</body>

</html>